a{
    text-decoration: none;
    color: #fff;
}

.headerContainer{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
    width: 100vw;
    background-color: #141531;
    user-select: none;
    box-shadow: 0px 2px 4px rgb(255, 255, 255, 0.1);
}

.logo{
    width: 6rem;
    margin: 1rem 1rem 1rem 3rem;
}

.headerMenu{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.opcoes{
    cursor: pointer;
    margin: 0rem 2rem;
}

.btnLogar{
    cursor: pointer;
    color: #295384;
    font-size: large;
    padding: 1rem 3rem;
    border: none;
    border-radius: 2rem;
    margin-right: 3rem;
}
.btnLogar:hover{
    background-color: #295384;
    color: #fff;
    transition: 0.8s;
}

/* Estilo do Header Aluno */
.divNMP{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 13.125rem;
    height: 2.875rem;
    margin: 0 1rem;
    border-radius: 1.25rem;
    background-color: #fff;
    font-size: 2.25rem;
    font-weight: bold;
}
.imgMoeda{
    width: 3.125rem;
}

.divPerfil{
    justify-content: center !important;
    width: 3.5rem !important;
    height: 3.5rem !important;
    border-radius: 100% !important;
    cursor: pointer;
}

/* Estilo do Modal de Navegação do Aluno */
.divModalNavegacao {
    width: 21.875rem;
    overflow: hidden;
    position: fixed;
    top: 8rem;
    right: 0;
    /* border: 0.2rem solid #000; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: height 0.4s ease-in-out;
    background-color: #fff;
}
.show {
    height: 33.5rem;
}
.hide {
    height: 0;
}

.divEscolhas{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.textEscolhas{
    margin-left: 2rem;
}

.linhaModal{
    height: 0.125rem;
    background-color: #000;
    border: none;
}