.container{
    overflow-x: hidden;
    background-color: #141531;
}

.divSobre{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    padding: 5rem 1rem;
    margin-top: 3rem;
    background-color: #366091;
    color: #fff;
}

.tituloSobre{
    margin: 1rem 0 1rem 0;
}
.paragrafoSobre{
    width: 60%;
}

.divBeneficios{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    padding: 5rem 1rem;
    margin-top: 3rem;
    color: #fff;
}